.f-button {
  background: transparent;
  height: inherit;
  line-height: 1;
  width: inherit;
  border: inherit;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: inherit;
  cursor: inherit;
  font-weight: inherit;
  font-size: inherit;
  outline: none;
}